#bold{font-weight: lighter;}
*{margin: 0;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
p{margin-top: 10px;}
.container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
}
.con{
    box-shadow: 7.8px 15.5px 15.5px hsl(0deg 0% 0% / 0.26);
    border-radius: 15px;
    margin-top: 15px;
}
.head{
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
}
.head1{
    text-align: left;
    margin-left: 50px;
    margin-top: 2px;
}
img{margin-left: 200px;}